@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba(234, 221, 202, 0.089);
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    grid-template-areas:
        "header        header"
        "navigation    main"
        "footer         footer";
}

a:link {
    color: rgb(93, 63, 211)
}

a:hover {
    background-color: rgb(159, 226, 191);
}

a:visited {
    color: rgb(0, 71, 171);
}

a:active {
    color: rgb(255, 215, 0);
}

#box {
    background-color: rgb(234, 221, 202);
    border: 1px dashed rgb(115, 147, 179);
    box-sizing: content-box;
    width: 250px;
    height:fit-content;
}

figure {
    border: 1px dashed rgb(115, 147, 179);
    margin: 0;
    padding: 10px;
    overflow: auto;
    width: fit-content;
   
}

img {
    border: 4px solid rgb(115, 147, 179);
}

h1 {
    font-family: "GFS Didot", "Georgia", "Times", serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 3px;
    color: rgb(100, 149, 237);
    margin-top: 0;
    grid-area: header;
}

h2 {
    font-family: "GFS Didot", "Georgia", "Times", serif;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(64, 120, 166);
}

h3 {
    font-family: "GFS Didot", "Georgia", "Times", serif;
    font-size: 28px;
    color: rgb(107, 187, 224);
}


header,
footer {
    padding: 0 20px;
}


nav {
    grid-area: navigation;
    margin: 2px;
}

main {
    grid-area: main;
}

section {
    margin-bottom: 16px;
    padding: 16px;
}


footer {
    grid-area: footer;
}
